body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.app-name {
  font-size: 20px;
  color: #fdf9f9;
  margin-bottom: 10px;
}

.calculator {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#display {
  width: calc(100% - 10px);
  margin: 0 5px;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
  outline: none;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background-color: #ccc;
}


/* Media Query for smaller screens */
@media (max-width: 480px) {
  .app-name {
    font-size: 22px; 
  }

  .calculator {
    width: 90%; 
    padding: 15px; 
  }

  .keys button {
    font-size: 16px; 
    padding: 10px; 
  }

  #display {
    font-size: 20px; 
  }
}